body {
  font-family: Arial, sans-serif;
  background-color: #fef6e4;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  color: #ff5c8a;
  margin-top: 50px;
}

p {
  color: #333;
  font-size: 20px;
  margin-top: 10px;
}
